<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConStr" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=final_project;Persist Security Info=True;User ID=sa;Password=01102002" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>